DATABASE_URL="file:./dev.db"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
APP_BASE_URL="http://localhost:3000"
GITHUB_REPO_URL=""
FIXTURE_SOURCE_URL="https://worldcuply.com/schedule.html"
FRIENDLIES_SOURCE_URL="https://www.theguardian.com/football/friendlies/fixtures"
CRON_SECRET=""
